body {
    background-image: url('./background_image.jpg');
    margin: 0;
    color: #fffaf4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 16px;
}

#logo {
    position: relative;
}

#overlay {
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    margin: 0;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    overflow: scroll;
}

#nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    font-size: 24px;
    font-weight: bold;
}

#nav-items a {
    text-decoration: none;
    color: white;
    padding: 0 8px;
}

#nav-items a:hover {
    color: #1b668b;
}

#nav-search {
    background-color: white;
    padding: 8px 12px;
    border-radius: 12px;
}

#nav-search #search-bar {
    padding: 8px;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 16px;
}

#search-button, #reset-search-button {
    text-decoration: none;
    margin: 4px;
    background-color: #2491c7;
    padding: 8px 12px;
    border: #fffaf4 solid 1px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

#search-button:hover, #reset-search-button:hover {
    background-color: #64abce;
}

#container {
    display: flex;
    padding: 0 2rem;
    flex: 1;
}
 
#container #left-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container #left-container h1 {
    font-size: 54px;
    margin: 0;
}

#container #left-container h3 {
    font-size: 24px;
}

#container #right-container {
    flex: 1;
}

#aboutus-description {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 50%;
    padding: 16px;
}

#team-section {
    padding: 16px;
    flex-grow: 1;
    width: 40%;
}

#team-section h2 {
    margin: 0;
    font-size: 24px;
}

#team-member {
    margin: 16px 0;
    padding: 4px 16px;
    background-color: #1b668b;
    border-radius: 8px;
}

#team-member:hover {
    background-color: #3597c9;
}

#team-member-name {
    font-size: large;
    font-weight: bold;
}

#team-member-position {
    margin: 0;
    padding: 4px 0;
    font-size: 14px;
}

#team-member-position span {
    padding: 0 4px;
    font-weight: bolder;
}

#contactus-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 16px;
}

#contactus-description p {
    font-size: 32px;
}

#contactus-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 24px;
}

#contactus-form fieldset {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;
    font-size: 18px;
    background-color: #1b668b;
    border-radius: 8px;
}

#name, #email, #message {
    text-decoration: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 8px;
}

#contactus-form-submit {
    text-decoration: none;
    margin: 4px;
    background-color: #2491c7;
    padding: 8px 12px;
    border: #fffaf4 solid 1px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

#contactus-form-submit:hover {
    background-color: #3597c9;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer a {
    margin: 0;
    padding: 0;
}

footer a:hover {
    background-color: #3597c9;
}

#resultContainer {
    position: absolute;
    top: 100px;
    right: 40px;
    z-index: 10;
    width: 30%;
}

#searchResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b668b;
    border: #fffaf4 solid 2px;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px 4px;
}

#searchResult:hover {
    box-shadow: -5px -2px 5px white;
    background-color: #3597c9;
}

#searchResult figure {
    margin: 0;
    border-bottom: #fffaf4 solid 2px;
    height: 100%;
    width: 100%;
}

#searchResult figure img{
    margin: 0;
    padding: 0;
}

#searchResult h2 {
    margin: 4px;
}

#searchResult h3 {
    margin: 4px;
}

#searchResult p {
    text-align: center;
    margin: 0;
    padding: 16px 8px;
}

#searchResult a {
    text-decoration: none;
    margin: 4px;
    background-color: #2491c7;
    padding: 8px 16px;
    border: #fffaf4 solid 1px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

#searchResult a:hover {
    box-shadow: -2px 2px 10px black;
    background-color: #3597c9;
}


