body {
    background-image: url('./background_image.jpg');
    margin: 0;
    color: #fffaf4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 16px;
}

#logo {
    position: relative;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    font-size: 24px;
    font-weight: bold;
}

#nav-items a {
    text-decoration: none;
    color: white;
    padding: 0 8px;
}

#nav-items a:hover {
    color: #1b668b;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


